*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    overflow-x: hidden;
  }

  .logo-file{
    width: 16%;
    margin-bottom: 20px;
  }

  h1,h2,h3,h4{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
  }

  body{
    background-color: white;
  }

  .top-bar{
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 10px;
  }
  .top-bar p{
    position: relative;
    top: 20px;
    float: right;
  }

  .part-one{
    position: relative;
    top: 50px;
    padding-bottom: 500px;
    padding-left: 150px;
    padding-right: 150px;
  }

  .part-one img{
    width: 50%;
    float:right;
  }

  form {
    display: flex;
    align-items: center;
}

input[type="email"] {
    width: 100%; 
    padding: 12px 15px; 
    border: 1px solid black; 
    border-radius: 5px;
    margin-right: 20px; 
    font-size: 12px; 
    max-width: 350px;
}


button {
    font-family:'Raleway',sans-serif ;
    padding: 12px 20px; 
    background-color: #0056b3; 
    color: white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    font-size: 12px;
    width: 150px;
    font-weight: 700;
    box-shadow: 4px 4px 8px rgb(0,0,0,0.5);
}

button:hover {
    background-color: #0c0479; 
}

  .part-two{
    position: relative;
    background-color:#F6F6FE;
    padding-bottom: 10%;
    padding-left: 150px;
    padding-right: 150px;
    
  }

  .part-two img{
    width: 50%;
    float: right;
    margin: 5px;
  }

  .part-tree{
    background-color: #585989;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
    color: white;
    display: flex;
  }

  .hyper{
    max-width: fit-content;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(0, 128, 117);
    padding-bottom: 2px;
  }


  .hyper .icon{
    width: 15px;
    border-radius: 50px;
    background-color: rgb(0, 128, 117);
    top: 5px;

  }

  .hyper a{
    text-decoration: none;
    color: rgb(0, 128, 117);
    display: inline-block;
  }

  .part-two .comment{
    background-color: white;
    color: black; 
    height: 150px;
    padding: 30px 30px;
    border-radius: 10px;
    max-width: 300px; 
    max-height: 700px;
    font-size: 11px;
    display: flexbox;
  }

  .part-two .comment p{
    margin-bottom: 10px;
  }
  
  .part-two .comment h4{
    margin-top: 15px;
  }
  
  .comment{
    overflow: hidden;
  }

  .comment img{
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 50px;
    
  }

  .comment .leyend{
    font-size: 8px;
  }


  .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 150px;
    background-color: #070439;
    color: white;
  }

  input[type="email2"] {
    width: 500px;
    border: 1px solid gray;
  }

  div:empty{
    white-space: normal;
  }
  .form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box;
}

.form-section form {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.input2 {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
}

.btn2 {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: auto; 
    box-shadow: none;
}

.text-section {
  flex: 0.8; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}



.social{
  width: 10%;
}

.cont{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;

}
.mid, .right {
  display: flex;
  flex-direction: column; /* Para apilar los elementos dentro de estas divs */
}

.mid p, .right p {
  margin: 10px 0; /* Espaciado entre los párrafos */
}

.bottom .logo-file{
  position: relative;
  right: calc(100%/2.35);
}